/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* My CSS: */

@font-face {
    font-family: 'poppinsregular';
    src: url('/fonts/poppins-regular-webfont.woff2') format('woff2'),
        url('/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherregular';
    src: url('/fonts/merriweather-regular-webfont.woff2') format('woff2'),
        url('/fonts/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratthin';
    src: url('/fonts/montserrat-variablefont_wght-webfont.woff2') format('woff2'),
        url('/fonts/montserrat-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --red: #E63946;
    --teal: #2A9D8F;
    --teal-transparent: rgba(42, 157, 143, 0.8);
    --yellow: #FFD700;
    --brown: #4E342E;
}

body {
    background-image: url('/images/Dark_BG_3.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: 'merriweatherregular', serif;
}

/* General styling */

button {
    font-family: 'poppinsregular', sans-serif;
    border-radius: 5px;
    padding: 0.5vh 2vw;
    color: white;
    border: var(--red) 2px solid;
}

button:hover {
    cursor: pointer;
}

h2 {
    font-size: 2em;
    font-family: 'poppinsregular', sans-serif;
}

/* Styling for the header and footer contents */

header,
footer {
    background-color: var(--yellow);
    color: var(--red);
    display: flex;
    justify-content: space-between;
    padding: 1vh 1vw 1vh 1vw;
    align-items: center;
    font-family: 'poppinsregular', sans-serif;
    flex-shrink: 0;
}

nav {
    display: flex;
    /* Is this needed? */
}

header {
    height: 10vh;
}

.header_button {
    background-color: var(--teal);
    margin-right: 0.5vw;
}

.header_button:hover {
    background-color: var(--red);
    border: var(--teal) 2px solid;
    color: var(--brown);
}

footer {
    justify-self: end;
    height: 5vh;
}

#footer_right {
    display: flex;
}

.icon {
    max-height: 3vh;
    margin-right: 0.5vw;
    filter: brightness(0) saturate(100%) invert(36%) sepia(52%) saturate(4224%) hue-rotate(334deg) brightness(92%) contrast(97%);
}

.icon:hover {
    filter: brightness(0) saturate(100%) invert(48%) sepia(98%) saturate(317%) hue-rotate(123deg) brightness(90%) contrast(86%);
}

/* Styling for the main content */

#content {
    color: var(--brown);
    flex-grow: 1;
    padding: 5vh 15vw 5vh 15vw;
}

/* styling for the menu section */

#menu_div {
    /* Temporary for outlining: */
    /* outline: 1px solid white; */
    background-color: var(--teal-transparent);
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: var(--yellow) 2px solid;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu_title {
    font-size: 2em;
    font-family: 'poppinsregular', sans-serif;
    color: white;
}

#menu_buttons {
    margin-bottom: 2vh;
}

#menu_buttons button {
    background-color: var(--yellow);
    color: var(--brown);
}

#menu_buttons button:hover {
    background-color: var(--red);
    border: var(--yellow) 2px solid;
    color: white
}

/* Need to sort out the column spacing on this part! */

#menu_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 50%));
}

/* Styling for the menu cards */

#card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    margin: 1vh 0.5vw;
    background-color: var(--yellow);
    outline: #E63946 2px solid;
    border-radius: 5px;
    padding: 1vw 1vw;
}

.card_img {
    margin-right: 1vw;
}

.card_title {
    font-size: 1.2em;
}

.card_text {
    font-size: 0.7em;
}

.card_price {
    text-align: end;
}

/* Styling for BOTH the set card and other menu cards: */

.card_img {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.card_title {
    font-family: 'poppinsregular', sans-serif;
}





/* The below styles work for the home/about page - some will need to be taken out of #temp_div as they will apply to other layouts, eg the grid layouts */

.container_div {
    background-color: var(--teal-transparent);
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: var(--yellow) 2px solid;
    align-items: center;
    justify-items: center;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
}

/* .card_img {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.card_title {
    font-family: 'poppinsregular', sangs-serif;
} */

.home_title {
    font-family: 'poppinsregular', sans-serif;
    font-size: 2em;
    border-bottom: var(--yellow 1px solid);
}

.home_img_div {
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.home_text_div {
    margin: 2vh 2vw;
}

.home_text_div p {
    margin-bottom: 1vh;
}